html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
}

#root {
    max-width: 40%;
    height: 100%;
    background-color: lightgreen;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#root > a {
    width: 100%;
    height: fit-content;
    background-color: whitesmoke;
    border: 1px solid olivedrab;
    padding: 1rem;
    text-decoration: none;
    font-weight: bolder;
}

@media (max-width: 576px) {
    #root {
        max-width: 100%;
    }
}

/* Para motrar botones de navegación y titulo de Sección */

#title {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 27%;
    max-width: 27%;
    background-color: whitesmoke;
    border: 1px solid lightgreen;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: bolder;
}

#navigation {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    max-width: 27%;
}

#navigation a {
    background-color: whitesmoke;
    border: 1px solid lightgreen;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    line-height: 2.5rem;
    text-decoration: none;
    font-weight: bolder;
}

@media (max-width: 576px) {
    #title {
        width: calc(100% - 2rem);
        max-width: calc(100% - 2rem);
        top: 0.5rem;
    }
    #navigation {
        width: calc(100% - 2rem);
        max-width: calc(100% - 2rem);
    }
}