.item-tema {
    list-style-position: inside;
}

.nombre-materia {
    text-decoration: solid;
    font-weight: bold;
}

.titulo-materia {
    font-family: 'Share Tech', sans-serif;
    color: rgb(68, 59, 162);
}

.cuadro-materia {
    text-align: center;
    border-style: solid;
    background-color: rgba(160, 187, 187, 0.585);
}

.imagen-meme {
    width: 200px;
}